/*====================================================
Haeder Css
====================================================*/

.hero {
  background: url(../img/hero-img.jpeg.jpg);
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 270px 10px;
}
