/*====================================================
 Lattest NewsCss
====================================================*/

.lattest-News {
  padding: 50px 70px;
  .card {
    .imgs {
      width: fit-content;
      height: 185px;
      object-fit: cover;
    }
  }
}
