/*====================================================
Common Css
====================================================*/

body {
  font-family: "Poppins", sans-serif;
  height: fit-content;
  overflow-x: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: normal;
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

i {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #201f1f;
$pure-color: #ffffff;

@import "button";

@import "nav";

@import "header";

@import "sec1";

@import "sec2";

@import "footer";
